@font-face {
  font-family: "farsan";
  src: url("./Fontes/Farsan-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "bellaboo";
    src: url("./fontes/bellaboo-1.ttf") format("truetype");
}

:root {
  --coral-suave: #f18a7a;
  --azul: rgb(23, 96, 170);
  --off-white-azul: #e1e9ff;
  --bege-neutro: #f6f1eb;
  --verde-fechado: #97a175;
  --verde-azulado: #3b856f;
}

*{
    box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--bege-neutro);
    max-width: 100%;
}

header{
    background-color: var(--azul);
    font-family: 'farsan', sans-serif;
    font-size: 20px;
    padding: 20px 20%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 20;
    width: 100%;
    border-radius: 0px 0px 20px 20px;
}

a{
    text-decoration: none;
    color: white;
}

a:hover {
  transform: scale(1.1);
}

footer{
    margin-top: 10%;
}

footer a{
    color: black;
}